.footer
{
	margin-top: 50px;
    font-size: 14px;
}
.footer .row
{	
	border-top: 1px solid gray;
	padding: 10px !important;
    margin: 0px;
}

@media (max-width: 767.98px) {
    p
    {
        font-size: 10px;
    }
    .row .col-4
    {
        display: block !important;
    }
}

