body{
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	width: 90%;
}
.slogan{
	margin-top: 50px;
	padding: 30px;
	display: flex;
	justify-content: space-between;

}
.slogan_text{
	width: 500px;
}
.slogan_text h{
	font-size: 40px;
	font-weight: 550;
	color: gray;
}
.slogan span{
	color: black;
}
.ps_support{
	display: inline-flex;
	text-decoration: none;
	color: black;
}
.ps_support img{
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.ps_support_caption{
	width: 300px;
	padding: 5px;
	margin-left: 10px;
}
.ps_support_caption h{
	font-size: 16px;
	
}
.ps_support_caption span{
	color: rgb(19, 139, 250);
}
.slide_card{
	display: flex;
	justify-content: space-around;
	margin: 50px 0;
	padding: 20px;
}
.a_card{
	text-align: center;
	text-decoration: none;
	color: black;
	
}
.a_card h3{
	padding: 0;
	margin: 0;
	font-weight: 500;
}
.a_card  div{
	width: 150px;
	height: 100px;
}
.a_card div img{
	height: 90%;
	width: auto;
}
.a_card:hover
{
	color: rgb(0, 0, 187);
	text-decoration:underline;
}
/* SẢN PHẨM NỔI BẬT */
.san_pham_noi_bat{
	margin-top: 150px;
}
.slide_san_pham_noi_bat
{
	display: flex;
	justify-content: space-around;
	white-space: nowrap;
	overflow-x: auto;
	padding: 15px;
	
}
.card_sanphamnoibat
{
	position: relative;
	height: 550px;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 8px;
	box-shadow: 1px 1px 10px 1px rgba(136, 136, 136, 0.3);
	transition: transform 0.5s;
	margin-right: 30px;
}
.card_sanphamnoibat img{
	display: block;
	width: 75%;
	margin-top: 50px;
}
.card_sanphamnoibat div
{
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 10px;
	margin-left: 20px;
	color: black;
}
.card_sanphamnoibat div h1{
	padding: 0;
	margin: 0;
}
.card_sanphamnoibat:hover{
	transform: scale(1.03);
}
/* Fold6 */
.fold6
{
	background-color: rgb(211, 211, 211);
}
/* Zlip6 */
.zlip6
{
	background-color: black;
}
.zlip6 div h1
{
	color: white;
}
.zlip6 div h3{
	color: white;
}
.zlip6 div p {
	color: white;
}
/* Tab S10 */
.tabs10
{
	background-color: black;
}
.tabs10 div h1
{
	color: white;
}
.tabs10 div h3{
	color: white;
}
.tabs10 div p {
	color: white;
}
/* Watch Ultra*/
.watchUltra
{
	background-image: url(../Images/bg_watchUltra.png);
}
.watchUltra img{
	margin-top: 70px;
}
.watchUltra div h1
{
	color: white;
}
.watchUltra div h3{
	color: white;
}
.watchUltra div p {
	color: white;
}